{{>head}}
<div class="app">
    <div class="temp">
        <form method="GET" action="/">
            <input type="text" name="city" placeholder="city">
            <button type="submit">
                <i class="fa fa-search fa-2x"></i>
            </button>
            <p id="search_error"></p>
        </form>
    </div>
</div>
{{>footer}}
